
<div id="home" class="animated fadeIn front text--center pt+">
<!--<h1>apicatando</h1>-->
  <img src="/img/logo.svg" class="animated bounceInDown pt+" alt="" />
  <h2 class="tagline animated bounceInUp mt">Apicultura de cerca</h2> 
  <!--<h3>(Candeleda, Avila)</h3>-->
</div>
<header>
  <a href="#home" class="logo" data-scroll><span><img src="/img/abeja-small.svg" alt="" /></span> Apicatando</a>
  <nav id="nav" class="text--center nav-collapse">
    <ul class="list-inline">
        <li><a href="#productos" data-scroll>productos</a></li>
        <li><a href="#como-trabajamos" data-scroll>como trabajamos</a></li>
        <li><a href="#colmena" data-scroll>la colmena</a></li>
        <li><a href="#quienes-somos" data-scroll>quienes somos</a></li>
        <li><a href="#contacto" data-scroll>contacto</a></li>
    </ul>
  </nav>
</header>


<div class="container text--center">
  <section id="productos" class="pb++">
    <h2 class="mb++">nuestros productos</h2>
    <div class="layout">
    <ul class="list-bare">
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-6/12 u-5/12-lap u-3/12-desk lap-and-up-pr+">
            <img src="img/bote2.png" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Miel temprana</h3>
            <h4 class="product__type">Variedad Multifloral</h4>
            <p>Color claro dorado, liquida, de cristalización facil por su alto contenido en nectar de romero. Dulce y sabrosa.
            </p>
            <a href="#contacto" data-scroll>
              <button class="btn btn--default"><span>7 euros/kg</span></button>
            </a>
            <h4>Composición</h4>
            <ul class="list-bare">
              <div>
                <li class="inline"><i class="fa fa-pagelines"></i> Romero</li>
                <li class="inline"><i class="fa fa-pagelines"></i> Brezo</li>
              </div>
              <div>
                <li class="inline"><i class="fa fa-pagelines"></i> Cantueso</li>
                <li class="inline"><i class="fa fa-pagelines"></i> Retama</li>
              </div>
              <li class="inline"><i class="fa fa-leaf"></i> Flores de pradera</li>
              <li class="inline"><i class="fa fa-tree"></i> Madrono</li>
              </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-6/12 u-5/12-lap u-3/12-desk lap-and-up-pr+">
            <img src="img/bote1.png" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Miel tardia</h3>
            <h4 class="product__type">Variedad Multifloral</h4>
            <p>Color oscuro debido a los mielatos de los árboles como el roble, castaño y encina. Densa, aromática y de sabor intenso.</p>
            <a href="#contacto" data-scroll>
              <button class="btn btn--default"><span>7 euros/kg</span></button>
            </a>
            <h4>Composición</h4>
            <ul class="list-bare">
              <div>
                <li class="inline"><i class="fa fa-pagelines"></i> Romero</li>
                <li class="inline"><i class="fa fa-tree"></i> Roble</li>
              </div>
              <div>
                <li class="inline"><i class="fa fa-tree"></i> Castano</li>
                <li class="inline"><i class="fa fa-pagelines"></i> Retama</li>
              </div>
              <li class="inline"><i class="fa fa-leaf"></i> Flores de pradera</li>
              <li class="inline"><i class="fa fa-tree"></i> Encina</li>
              </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-5/12 u-4/12-lap u-2/12-desk lap-and-up-pr+">
            <img src="img/bote3.png" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Propóleo</h3>
            <p>El propóleo es una sustancia con propiedades medicinales que las abejas producen en pequeñas cantidades.</p>
            <!--<p>La obtienen recolectando sustancias resinosas de determinadas plantas y árboles que posteriormente procesan con enzimas de su saliva.</p>-->
            <a href="#contacto" data-scroll>
              <button class="btn btn--default"><span>12 euros/30mml</span></button>
            </a>
            <h4>Composición</h4>
            <ul class="list-bare">
              <li><i class="fa fa-pagelines"></i> 50-55% Resinas y bálsamos de árboles y plantas.</li>
              <li><i class="fa fa-forumbee"></i> 30-40% Cera de abeja.</li>
              <li><i class="fa fa-tint"></i> 5-10% Aceites esenciales.</li>
              <li><i class="fa fa-leaf"></i> 5-10% Polen.</li>
              </ul>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </section>

  <section id="como-trabajamos" class="pb++">
    <h2 class="mb++">como trabajamos</h2>
    <div class="layout">
      
    <ul class="list-bare">
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/entorno.svg" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>en un entorno excepcional</h3>
            <ul class="list-bare">
              <li class="mb">Candeleda (Ávila), situado en la sierra de Gredos, es un pueblo privilegiado para la apicultura debido a su clima, agua, y flora rica y variada. </li>
              <li>La zona está <strong>libre</strong> de grandes cultivos intensivos donde se usan químicos masivamente.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/bienestar.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>cuidamos a nuestras abejas</h3>
            <ul class="list-bare">
              <li class="mb">La ausencia de químicos proporciona un ecosistema ideal para las abejas.</li>
              <li>Nuestras abejas tienen suficientes reservas de miel para afrontar el invierno evitando tener que alimentarlas artificialmente. Todo esto tiene un impacto directo en la calidad de la miel.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/extraccion.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>extracción respetuosa</h3>
            <ul class="list-bare">
              <li class="mb">Solo hacemos una cosecha al año, extrayendo solo la miel necesaria, dejando a las abejas con reservas suficientes en la camara de cria para pasar el invierno.</li>
              <li>La extracción de la miel se realiza después de la primavera, en julio o agosto (dependiendo del año). La extraemos cuando ha madurado completamente en la colmena para evitar que fermente.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/distribucion.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>de la colmena a tu mesa</h3>
            <ul class="list-bare">
              <li class="mb">Al evitar intermediarios los consumidores pueden obtener un producto de calidad a un precio asequible.</li>
              <li>Procuramos vender nuestros productos en un radio de unos 200 km, fomentando la economía local y respetando al medio ambiente, ya que nuestros productos no tienen que recorrer grandes distancias para llegar a la mesa de los consumidores. </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </section>

  <section id="colmena" class="pb++">
    <h2 class="mb++">la colmena</h2>
    <div class="colmena__info layout__item u-10/12 u-6/12-lap-and-up">
      <img class="" src="/img/colmena.svg" alt="Esuqema colmena"/>
      <div class="info" data-info="1">
        <a href='#'>
          <button title="alza superior" class="btn btn--info"><span>1</span></button>
        </a>
      </div>
      <div class="info" data-info="2">
        <a href='#'>
          <button title="alza media" class="btn btn--info"><span>2</span></button>
        </a>
      </div>
      <div class="info" data-info="3">
        <a href='#'>
          <button title="camara de cria" class="btn btn--info"><span>3</span></button>
        </a>
      </div>

    </div>
    <div class="overlay" id="overlay1">
      <div>
        <p>Content you want the user to see goes here.</p>
        <a class="close" data-info="1" href='#'>X</a>
      </div>
    </div>
    <div class="overlay" id="overlay2">
      <div>
        <p>Content you want the user to see goes here overlay 2.</p>
        <a class="close" data-info="2" href='#'>X</a>
      </div>
    </div>
    <div class="overlay" id="overlay3">
      <div>
        <h3>la reina</h3>
        <p>la madre de todos los miembros de la colmena</p>
        <p>duración normal de su vida: de 4 o 5 años </p>
        <p> distinguida por su tamaño corporal mayor (abdomen más grande, alas más cortas)</p>
        <p> realiza un único vuelo en su vida, el vuelo de fecundación</p>
        <p>es alimentada por las obreras con jalea real</p>
        <p>objetivo principal: de poner huevos y generar una gran descendencia</p>
        <p>mantiene el orden social</p>
        <p>Content you want the user to see goes here overlay 3.</p>
        <a class="close" data-info="3" href='#'>X</a>
      </div>
    </div>
  </section>

  <section id="quienes-somos" class="pb++">
    <h2 class="mb++">quienes somos</h2>
    <div class="layout">
      <div class="layout__item u-10/12 u-4/12-desk mb">
        <h3>nuestra historia</h3>
        <p>Nuestro equipo está compuesto por dos partes fundamentales e interdependientes. Por un lado está la parte humana: somos Liliana e Iñaki, una pareja de Madrid que un buen día deja el ruido y estrés de la ciudad y decide hacerse ganadera. Por otro están las millones de abejas que viven y trabajan en nuestros colmenares, polinizando las flores y proporcionándonos, entre otros productos, la rica miel.</p>
        <p>Nos hemos embarcado en esta aventura llenos de ilusión y queremos compartir esta ilusión contigo, acercarte nuestro trabajo y dar a conocer el mundo apícola. </p>
      </div>
      <div class="layout__item u-9/12 u-5/12-lap u-3/12-desk mb">
        <img class="img--rounded" src="img/about2.jpg" alt="Foto apicultores"/>
      </div>
      <div class="layout__item u-10/12 u-4/12-desk">
        <h3>filosofia</h3>
        <p>Creemos en la recuperación de la agricultura y la ganadería como profesiones fundamentales, ya que son el origen y la base de nuestra alimentación</p>
        <p>Creemos en la apicultura como causa. Actualmente son muchos los factores que están causando la muerte de las abejas. En Apicatando somos muy conscientes de la importancia de las abejas, no solo por el gran aporte de productos que nos ofrecen (miel, cera, polen, propóleos, apitoxina), sino por su importancia en la polinización de muchas de las plantas de nuestro entorno. </p>
      </div>
    </div>
  </section>

  <section id="contacto" class="vertical--middle pb+">
    <div>
      <h2 class="mb+">contacto</h2>
      <h3>Llámanos o escríbenos para comprar nuestra deliciosa miel. </h3>
      <div class="contact__email mb">
        <a href="mailto:apicatando@gmail.com">apicatando@gmail.com</a>
      </div>
      <div class="contact__phone">
        <a class="btn btn--orange" href="tel:600820378">
          <i class="fa fa-phone fa-fw"></i>
          <span>600820378</span>
        </a>
      </div>
    </div>
  </section>
</div>
