<div class="front">
  <h1>Apicatando</h1>
  <h2>Apicultura de cerca (Candeleda, Avila)</h2>
</div>
<nav>
  <ul>
    <a href="/#productos">
      <li>productos</li>
    </a>
    <a href="/#como-trabajamos">
      <li>como trabajamos</li>
    </a>
    <a href="/#colmena">
      <li>la colmena</li>
    </a>
    <a href="/#quienes-somos">
      <li>quienes somos</li>
    </a>
    <a href="/#contacto">
      <li>localizacion y contacto</li>
    </a>
  </ul>
</nav>

<section id="productos">
  <h2>productos</h2>
  <ul>
    <li>miel</li>
    <li>propoleo</li>
  </ul>
</section>

<section id="como-trabajamos">
  <h2>como trabajamos</h2>
  <ul>
    <li>
      <h4>un entorno excepcional</h4>
      <ul>
        <li>Candeleda provincia de Ávila, situado dentro del Parque Natural de Gredos, es un pueblo privilegiado para la apicultura debido a su clima, agua, y flora rica y variada. </li>
        <li>Debido a la inexistencia en la zona de grandes cultivos intensivos , nuestras abejas no se ven afectadas por el uso masivo de quimicos. Esto proporciona un ecosistema ideal para las abejas.</li>
      </ul>
    </li>
    <li>
      <h4>el bienestar de las abejas</h4>
      <ul>
        <li>Nuestras abejas tienen suficientes reservas de miel para afrontar el invierno evitando tener que alimentarlas artificialmente. Todo esto tiene un impacto directo en la calidad de la miel.</li>
      </ul>
    </li>
    <li>
      <h4>proceso de extraccion(respetuoso, paciente, sostenible)</h4>
      <ul>
        <li>Solo hacemos una cosecha al ano, extrayendo solo la miel necesaria, dejando a las abejas con reservas suficientes en la camara de cria para pasar el invierno.</li>
      </ul>
    </li>
    <li>
      <h4>economia local reparto</h4>
      <ul>
        <li>Al evitar intermediarios los consumidores pueden obtener un producto de calidad a un precio asequible.</li>
        <li>Procuramos vender nuestros productos en un radio de unos 200km. Fomentando la economia local.</li>
      </ul>
    </li>
  </ul>
</section>

<section id="colmena">
  <h2>la colmena</h2>
</section>

<section id="quienes-somos">
  <h2>quienes somos</h2>
  <h3>filosofia</h3>
  <h3>historia</h3>
  <img src="" alt="" />
</section>

<section id="contacto">
  <h2>localizacion y contacto</h2>
  <div class="contact__email">
    <a href="mailto:apicatando@gmail.com">apicatando@gmail.com</a>
  </div>
  <div class="contact__phone">
    <a href="tel:600820378">600820378</a>
  </div>
</section>
