<div class="animated fadeIn front text--center pb+ pt++">
<!--<h1>apicatando</h1>-->
  <img src="/img/logo.svg" class="animated bounceInDown pt+" alt="" />
  <h2 class="tagline">Apicultura de cerca</h2> 
  <!--<h3>(Candeleda, Avila)</h3>-->
</div>
<nav class="text--center">
  <ul class="list-inline">
      <li><a class="page-scroll" href="#productos">productos</a></li>
      <li><a class="page-scroll" href="#como-trabajamos">como trabajamos</a></li>
      <li><a class="page-scroll" href="#colmena">la colmena</a></li>
      <li><a class="page-scroll" href="#quienes-somos">quienes somos</a></li>
      <li><a class="page-scroll" href="#contacto">localizacion y contacto</a></li>
  </ul>
</nav>

<div class="container text--center">
  <section id="productos" class="mb++">
    <h2 class="mb++">productos</h2>
    <ul class="list-bare layout">
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-6/12 u-3/12-lap-and-up lap-and-up-pr+">
            <img src="img/bote2.jpg" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Miel temprana</h3>
            <h4 class="product__type">Variedad Multifloral</h4>
            <p>Color claro, dorado, liquida ,de cristalización facil por su alto contenido en nectar de romero. Dulce y sabrosa
            </p>
            <button class="btn">7 euros/kg</button>
            <h4>Composicion</h4>
            <ul class="list-bare">
              <div>
                <li class="inline"><i class="fa fa-pagelines"></i> Romero</li>
                <li class="inline"><i class="fa fa-pagelines"></i> Brezo</li>
              </div>
              <div>
                <li class="inline"><i class="fa fa-pagelines"></i> Cantueso</li>
                <li class="inline"><i class="fa fa-pagelines"></i> Retama</li>
              </div>
              <li class="inline"><i class="fa fa-leaf"></i> Flores de pradera</li>
              <li class="inline"><i class="fa fa-tree"></i> Madrono</li>
              </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-6/12 u-3/12-lap-and-up lap-and-up-pr+">
            <img src="img/bote1.jpg" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Miel tardia</h3>
            <h4 class="product__type">Variedad Multifloral</h4>
            <p>Color Oscuro debido a los mielatos de los árboles como el roble, castaño y encina. Densa, aromática y de sabor intenso.</p>
            <button class="btn">7 euros/kg</button>
            <h4>Composicion</h4>
            <ul class="list-bare">
              <div>
                <li class="inline"><i class="fa fa-pagelines"></i> Romero</li>
                <li class="inline"><i class="fa fa-tree"></i> Roble</li>
              </div>
              <div>
                <li class="inline"><i class="fa fa-tree"></i> Castano</li>
                <li class="inline"><i class="fa fa-pagelines"></i> Retama</li>
              </div>
              <li class="inline"><i class="fa fa-leaf"></i> Flores de pradera</li>
              <li class="inline"><i class="fa fa-tree"></i> Encina</li>
              </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-5/12 u-2/12-lap-and-up lap-and-up-pr+">
            <img src="img/bote3.jpg" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Propoleo</h3>
            <p>El propóleo es una sustancia con propiedades medicinales que las abejas producen en pequeñas cantidades.</p>
            <!--<p>La obtienen recolectando sustancias resinosas de determinadas plantas y árboles que posteriormente procesan con enzimas de su saliva.</p>-->
            <button class="btn">12 euros/30mml</button>
            <h4>Composicion</h4>
            <ul class="list-bare">
              <li><i class="fa fa-pagelines"></i> 50-55% Resinas y bálsamos de árboles y plantas.</li>
              <li><i class="fa fa-forumbee"></i> 30-40% cera de abeja.</li>
              <li><i class="fa fa-tint"></i> 5-10%   aceites esenciales.</li>
              <li><i class="fa fa-leaf"></i> 5-10%   Polen.</li>
              </ul>
          </div>
        </div>
      </li>


      <li>propoleo</li>
    </ul>
  </section>

  <section id="como-trabajamos" class="pb++">
    <h2 class="mb++">como trabajamos</h2>
    <ul class="list-bare layout">
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/entorno.svg" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-8/12-lap-and-up">
            <h3>un entorno excepcional</h3>
            <ul class="list-bare">
              <li class="mb">Candeleda provincia de Ávila, situado en la sierra de Gredos, es un pueblo privilegiado para la apicultura debido a su clima, agua, y flora rica y variada. </li>
              <li>La zona está libre de grandes cultivos intensivos. No se usan químicos masivamente.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/bienestar.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-8/12-lap-and-up">
            <h3>el bienestar de las abejas</h3>
            <ul class="list-bare">
              <li class="mb">La ausencia de químicos proporciona un ecosistema ideal para las abejas.</li>
              <li>Nuestras abejas tienen suficientes reservas de miel para afrontar el invierno evitando tener que alimentarlas artificialmente. Todo esto tiene un impacto directo en la calidad de la miel.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/extraccion.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-8/12-lap-and-up">
            <h3>proceso de extraccion</h3>
            <h4>Respetuoso, paciente y sostenible</h4>
            <ul class="list-bare">
              <li class="mb">Solo hacemos una cosecha al año, extrayendo solo la miel necesaria, dejando a las abejas con reservas suficientes en la camara de cria para pasar el invierno.</li>
              <li>La extracción de la miel se realiza después de la primavera, en julio o agosto (dependiendo del año). La extraemos cuando ha madurado completamente en la colmena para evitar que fermente.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/distribucion.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-8/12-lap-and-up">
            <h3>economia local reparto</h3>
            <ul class="list-bare">
              <li class="mb">Al evitar intermediarios los consumidores pueden obtener un producto de calidad a un precio asequible.</li>
              <li>Procuramos vender nuestros productos en un radio de unos 200 km, fomentando la economía local y respetando al medio ambiente, ya que nuestros productos no tienen que recorrer grandes distancias para llegar a la mesa de los consumidores. </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section id="colmena" class="mb++">
    <h2>la colmena</h2>
  </section>

  <section id="quienes-somos" class="mb++">
    <h2>quienes somos</h2>
    <h3>filosofia</h3>
    <h3>historia</h3>
    <img src="" alt="" />
  </section>

  <section id="contacto" class="mb++">
    <h2>localizacion y contacto</h2>
    <div class="contact__email">
      <a href="mailto:apicatando@gmail.com">apicatando@gmail.com</a>
    </div>
    <div class="contact__phone">
      <a href="tel:600820378">600820378</a>
    </div>
  </section>
</div>
