<div id="home" class="animated fadeIn front text--center pt+">
<!--<h1>apicatando</h1>-->
  <img src="/img/logo.svg" class="animated bounceInDown pt+" alt="" />
  <h2 class="tagline animated bounceInUp mt">Apicultura de cerca</h2>
  <!--<h3>(Candeleda, Avila)</h3>-->
</div>
<header class="text--center pv--">
  <a href="#home" class="logo" data-scroll><span><img src="/img/abeja-small.svg" class="middle pb-" alt="" /></span> <h1 class="middle pb-">apicatando</h1></a>
  <nav id="nav" class="text--center nav-collapse middle">
    <ul class="list-inline">
        <li><a href="#productos" data-scroll>productos</a></li>
        <li><a href="#como-trabajamos" data-scroll>cómo trabajamos</a></li>
        <!--<li><a href="#colmena" data-scroll>la colmena</a></li>-->
        <li><a href="#quienes-somos" data-scroll>quiénes somos</a></li>
        <li><a href="#contacto" data-scroll>contacto</a></li>
    </ul>
  </nav>
</header>


<div class="container text--center">
  <section id="productos" class="pb++">
    <h2 class="mb++">nuestra miel</h2>
    <div class="layout">
    <ul class="list-bare">
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-6/12 u-5/12-lap-and-up u-3/12-hd lap-and-up-pr+">
            <img src="img/bote2.png" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Miel temprana</h3>
            <h4 class="product__type">Variedad Multifloral</h4>
            <p>De color dorado por su alto contenido en nectar de romero. Muy dulce y suave.
            </p>
            <a href="#contacto" class="product__price" data-scroll>
              <button class="btn btn--default"><span><b>7€</b> kg</span></button>
            </a>
            <h4>Composición principal</h4>
            <ul class="list-bare">
              <div>
                <li class="inline"><img src="/img/romero.svg" class="composition-icon" alt="" /> Romero</li>
                <li class="inline"><img src="/img/brezo.svg" class="composition-icon" alt="" /> Brezo</li>
              </div>
              <div>
                <li class="inline"><img src="/img/cantueso.svg" class="composition-icon" alt="" /> Cantueso</li>
                <li class="inline"><img src="/img/retama.svg" class="composition-icon" alt="" /> Retama</li>
              </div>
                <li class="inline"><img src="/img/flores-pradera.svg" class="composition-icon" alt="" /> Flores de pradera</li>
              </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-6/12 u-5/12-lap-and-up u-3/12-hd lap-and-up-pr+">
            <img src="img/bote1.png" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Miel de bosque</h3>
            <h4 class="product__type">Variedad Multifloral</h4>
            <p>De color oscuro producido por el mielato del roble y de la encina. Densa, aromática y de sabor intenso.</p>
            <a href="#contacto" class="product__price" data-scroll>
              <button class="btn btn--default"><span><b>7€</b> kg</span></button>
            </a>
            <h4>Composición principal</h4>
            <ul class="list-bare">
              <div>
                <li class="inline"><img src="/img/romero.svg" class="composition-icon" alt="" /> Tomillo</li>
                <li class="inline"><img src="/img/cantueso.svg" class="composition-icon" alt="" /> Cantueso</li>
              </div>
              <div>
                <li class="inline"><img src="/img/retama.svg" class="composition-icon" alt="" /> Retama</li>
                <li class="inline"><img src="/img/roble.svg" class="composition-icon" alt="" /> Roble</li>
              </div>
              <div>
                <li class="inline"><img src="/img/castaño.svg" class="composition-icon" alt="" /> Castaño</li>
                <li class="inline"><img src="/img/encina.svg" class="composition-icon" alt="" /> Encina</li>
              </div>
                <li class="inline"><img src="/img/flores-pradera.svg" class="composition-icon" alt="" /> Flores de pradera</li>
              </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-8/12-lap-and-up mb++">
        <div class="layout">
          <div class="layout__item u-5/12 u-4/12-lap-and-up u-2/12-hd lap-and-up-pr+">
            <img src="img/bote3.png" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-10/12 u-7/12-lap-and-up">
            <h3 class="product__title">Tintura de propóleo</h3>
            <p>El propóleo es una sustancia con propiedades medicinales que las abejas producen para proteger la salud de la colmena.</p>
            <!--<p>La obtienen recolectando sustancias resinosas de determinadas plantas y árboles que posteriormente procesan con enzimas de su saliva.</p>-->
            <a href="#contacto" class="product__price" data-scroll>
              <button class="btn btn--default"><span><b>8€</b> 30ml</span></button>
            </a>
            <h4>Composición</h4>
            <ul class="list-bare mb">
                <li><img src="/img/resina.svg" class="composition-icon" alt="" /> 50-55% Resinas y bálsamos de árboles y plantas.</li>
                <li><img src="/img/cera.svg" class="composition-icon" alt="" /> 30-40% Cera de abeja.</li>
                <li><img src="/img/aceites-esenciales.svg" class="composition-icon" alt="" /> 5-10% Aceites esenciales.</li>
                <li><img src="/img/polen.svg" class="composition-icon" alt="" /> 5-10% Polen.</li>
              </ul>
              <div class="btn btn--green" id="btn-details">
                  <i class="fa fa-plus"></i>
                  propiedades
              </div>
              <div class="details" id="details">
              <ul class="text--left">
                <li><strong>Antibiótico natural:</strong> antimicrobiano, antifúngico y antiviral.</li>
                <li>Estimula la reacción inmunológica del organismo <strong>aumentando nuestras defensas.</strong></li>
                <li><strong>Antiinflamatorio y analgésico,</strong> es un protector eficaz de la garganta y las cuerdas vocales.</li>
                <li><strong>Antioxidante</strong> debido a su alto contenido en bioflavonoides <strong>(500 veces mas que las naranjas)</strong>, inhibe la oxidación del colesterol y normaliza la tensión arterial.</li>
                <li><strong>Ayuda</strong> a la curación de <strong>estados anémicos.</strong></li>
                <li>Los enjuagues de tintura de propóleo <strong>controlan gingivitis y piorrea.</strong></li>
                <li><strong>Ayuda a controlar</strong> el <strong>asma, rinitis</strong> y varios tipos de alergias.</li>
                <li><strong>Cicatrizante y desinfectante.</strong></li>
              </ul>
              </div>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </section>

  <section id="como-trabajamos" class="pb++">
    <h2 class="mb++">cómo trabajamos</h2>
    <div class="layout">

    <ul class="list-bare">
      <li class="layout__item u-6/12-hd mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/entorno.svg" class="" alt="Dibujo del entorno" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>en un entorno excepcional</h3>
            <ul class="list-bare">
              <li class="mb"><strong>Candeleda</strong> (Ávila), situado en las faldas de la sierra de Gredos. Es un <strong>pueblo privilegiado para la apicultura</strong> por su clima suave, abundante agua, y  flora rica y variada.</li>
              <li>Nuestros <strong>colmenares estan situados lejos de cultivos intensivos</strong>, en los que se usan insecticidas y plaguicidas que afectan  directamente a las abejas..</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-hd mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/bienestar.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>cuidamos a nuestras abejas</h3>
            <ul class="list-bare">
              <li class="mb">En apicatando tenemos varios <strong>colmenares fijos</strong>, las colmenas están situadas <strong>siempre en las mismas fincas.</strong> No trashumamos grandes distancias ya que altera el ciclo natural de las abejas.</li>
              <li>Nuestras abejas tienen <strong>suficientes reservas de miel</strong> para afrontar el invierno evitando tener que alimentarlas artificialmente. Todo esto tiene un impacto directo en la calidad de la miel.</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-hd mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/extraccion.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>extracción respetuosa</h3>
            <ul class="list-bare">
              <li class="mb">Solo realizamos <strong>una extracción al año</strong> después de la primavera, en julio o agosto.</li>
              <li>Recogemos la miel asegurándonos de que el néctar ha madurado completamente en la colmena para <strong>evitar que fermente.</strong></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="layout__item u-6/12-hd mb++">
        <div class="layout">
          <div class="layout__item u-9/12 u-4/12-lap-and-up">
            <img src="img/distribucion.svg" class="" alt="" />
          </div>
          <div class="text--left-lap-and-up layout__item u-11/12 u-8/12-lap-and-up">
            <h3>de la colmena a tu mesa</h3>
            <ul class="list-bare">
              <li class="mb">Al <strong>evitar intermediarios</strong> los consumidores pueden obtener un <strong>producto de calidad a un precio asequible</strong>.</li>
              <li>Procuramos vender nuestros productos en un <strong>radio de unos 200 km</strong>, fomentando la economía local y respetando al medio ambiente, ya que nuestros productos <strong>no tienen que recorrer grandes distancias para llegar a la mesa de los consumidores.</strong> </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </section>

  <!--<section id="colmena" class="pb++">
    <h2 class="mb++">la colmena</h2>
    <div class="colmena__info layout__item u-10/12 u-6/12-lap-and-up">
      <img class="" src="/img/colmena.png" alt="Esquema colmena"/>
      <div class="info" data-info="1">
        <a href='#'>
          <button title="alza superior" class="btn btn--info"><span>Obreras</span></button>
        </a>
      </div>
      <div class="info" data-info="2">
        <a href='#'>
          <button title="alza media" class="btn btn--info"><span>Zangano</span></button>
        </a>
      </div>
      <div class="info" data-info="3">
        <a href='#'>
          <button title="camara de cria" class="btn btn--info"><span>Reina</span></button>
        </a>
      </div>

    </div>
    <div class="overlay" id="overlay1">
      <div>
        <h3>Las obreras</h3>
        <p>- Hembras estériles</p>
        <p>- Forman la mayoría de la población de la colonia</p>
        <p>- Se encargan de todos los trabajos de la colmena (menos la reproducción)</p>
        <p>- Duración de la vida 4 a 6 semanas (primavera), hasta 6 meses (invierno)</p>
        <p>- Se dividen las diferentes tareas según edad</p>
        <a class="close" data-info="1" href='#'>X</a>
      </div>
    </div>
    <div class="overlay" id="overlay2">
      <div>
        <h3>Zanganos</h3>
        <p>- Los machos de la colonia.</p>
        <p>- Se desarrollan a partir de huevos no fecundados.</p>
        <p>- Su número es menor que el de las obreras</p>
        <p> -Solo permanecen dentro de la colmena durante un periodo de tiempo</p>
        <p>- Son de mayor tamaño</p>
        <p>- Tarea fundamental: fecundar a la reina durante el vuelo de fecundación</p>
        <p> -No tiene aguijón (no defienden la colmena ni se encargan de traer alimento y agua)</p>
        <p>- Son expulsados de la colmena al final de la temporada (cuando el alimento empieza a escasear)</p>
        <a class="close" data-info="2" href='#'>X</a>
      </div>
    </div>
    <div class="overlay" id="overlay3">
      <div>
        <h3>La Reina</h3>
        <p>- La madre de todos los miembros de la colmena</p>
        <p>- Duración normal de su vida: de 4 o 5 años </p>
        <p>- Distinguida por su tamaño corporal mayor (abdomen más grande, alas más cortas)</p>
        <p>- Realiza un único vuelo en su vida, el vuelo de fecundación</p>
        <p>- Es alimentada por las obreras con jalea real</p>
        <p>- Objetivo principal: de poner huevos y generar una gran descendencia</p>
        <p>- Mantiene el orden social</p>
        <a class="close" data-info="3" href='#'>X</a>
      </div>
    </div>
    </section>-->

  <section id="quienes-somos" class="pb++">
    <h2 class="mb++">quiénes somos</h2>
    <div class="layout">
      <div class="layout__item u-10/12 u-5/12-hd text--left-lap-and-up mb">
        <h3>nuestra historia</h3>
        <p>Nuestro equipo está compuesto por <strong>dos partes fundamentales e interdependientes.</strong> Por un lado está la <strong>parte humana</strong>: somos <strong>Liliana e Iñaki</strong>, una pareja de Madrid que un buen día deja el ruido y estrés de la ciudad y decide hacerse ganadera. Por otro están <strong>las millones de abejas que viven y trabajan en nuestros colmenares</strong>, polinizando las flores y <strong>proporcionándonos</strong>, entre otros productos, <strong>la rica miel.</strong></p>
        <p>Nos hemos embarcado en esta aventura llenos de ilusión y <strong>queremos compartir esta ilusión contigo, acercarte nuestro trabajo y dar a conocer el mundo apícola.</strong> </p>
      </div>
      <!--<div class="layout__item u-9/12 u-5/12-lap-and-up u-3/12-hd mb">
       <picture>
          <source srcset="img/about--xlarge.jpg" media="(min-width: 148em)">
          <source srcset="img/about--large.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
          <source srcset="img/about--medium.jpg" media="(max-width: 64em)">
        <img class="img--rounded" srcset="img/about2.jpg" alt="…">
      </picture>
    </div>-->
      <div class="layout__item u-10/12 u-5/12-hd text--left-lap-and-up mb">
        <h3>filosofia</h3>
        <p><strong>Creemos en la recuperación de la agricultura y la ganadería como profesiones fundamentales</strong>, ya que son el origen y la base de nuestra alimentación</p>
        <p><strong>Creemos en la apicultura como causa.</strong> Actualmente son muchos los factores que están causando la muerte de las abejas. En <strong>Apicatando</strong> somos muy <strong>conscientes de la importancia de las abejas</strong>, no solo por el gran <strong>aporte de productos</strong> que nos ofrecen (miel, cera, polen, propóleos, apitoxina), sino por su importancia en <strong>la polinización de muchas de las plantas de nuestro entorno.</strong> </p>
      </div>
      <div class="layout__item u-12/12 u-8/12-lap-and-up u-6/12-hd">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando1--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando1--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando1--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando1--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando2--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando2--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando2--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando2--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando3--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando3--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando3--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando3--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando4--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando4--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando4--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando4--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando5--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando5--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando5--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando5--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando6--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando6--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando6--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando6--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando7--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando7--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando7--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando7--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando8--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando8--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando8--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando8--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando9--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando9--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando9--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando9--medium.jpg" alt="…">
            </picture>
          </div>
          <div class="item">
             <picture>
              <source srcset="/img/galery/apicatando10--large.jpg" media="(min-width: 148em)">
              <source srcset="/img/galery/apicatando10--medium.jpg" media="(min-width: 64em), (min-resolution: 144dpi)">
              <source srcset="/img/galery/apicatando10--small.jpg" media="(max-width: 64em)">
              <img srcset="/img/galery/apicatando10--medium.jpg" alt="…">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contacto" class="vertical--middle pb+">
    <div>
      <h2 class="mb+">contacto</h2>
      <h3>Llámanos o escríbenos para comprar nuestra deliciosa miel. </h3>
      <div class="contact__email mb">
        <a href="mailto:apicatando@gmail.com">apicatando@gmail.com</a>
      </div>
      <div class="contact__phone">
        <a class="btn btn--orange" href="tel:600820378">
          <i class="fa fa-phone fa-fw"></i>
          <span>600820378</span>
        </a>
      </div>
    </div>
  </section>
</div>
