@import "inuit-css";

/* COLOR SCHEME */
$light-brown: #766151;
$brown: #48372F;
$grey: #514947;
$yellow: #FEE202;
$white: #FEFEFE;


html {
  width: 100%;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}

