@import "inuit-css";
@import "../components/modular-scale/stylesheets/_modular-scale.scss";

/* EXTRAS */
.text--center {
    text-align: center !important;
}

.text--left {
  text-align: left;
}


/* TYPOGRAPHY */
$ms-base: 1em;
$ms-ratio: $golden;

$font-heading: 'Pacifico', cursive;
$font-body: 'Merriweather', serif;


/* COLOR SCHEME */
$light-brown: #766151;
$brown: #48372F;
$gray: #514947;
$yellow: #FEE202;
$orange: #D69B01;
$white: #FEFEFE;
$dark-gray: #333333;
$black: #1E1E1E;

body {
  font-size: ms(0);
  font-family: $font-body;
  height: 100%;
}

.layout {
  font-size: 0;
}
.layout__item {
  font-size: 1rem;
}

h3 {
  font-size: ms(1);
}
h2, h3 {
  @extend .mb;
  @extend .mt;
  line-height: double($inuit-base-spacing-unit);
}

h2 {
  font-size: ms(2);
  @extend .pt\+\+;
}

h1 {
  font-size: ms(3);
  line-height: quadruple($inuit-base-spacing-unit);
}

h1 {
  @extend .mb\+;
  @extend .mt\+;
}

h1, h2 {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: capitalize;
}

h2.tagline {
  font-family: $font-body;
  font-style: italic;
}

html {
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.container {
  padding: 1.5em 0;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  background-color: $white;
  font-size: 1em;
  line-height: $inuit-base-spacing-unit;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 300;
  padding: 21px 0;

  a {
    color: $gray;
  }

  li:first-child {
    padding-left: 0;
  
  }
  li {
    padding-left: ms(0);
  }
}

.front {
  //height: 100%;
  background-color: $light-brown;
  img {
    width: 100%;
    max-height: 210px;
  }

  h1 {
    color: $white;
  }
  h2 {
    color: $orange;
  }
  h3 {
    color: $brown;
    font-style: italic;
    font-weight: 300;
  }
}


img {
  max-width: 100%;
}

#como-trabajamos {
  background-color: $dark-gray;
  background-image: url("/img/noise-light.png");
  color: $white;

  h3 {
    color: $orange;
    //font-family: $font-heading;
    font-weight: 300;
    text-transform: uppercase;
  }
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 45em) {
  html {
    font-size: 110%;
  }

  .text--left-lap-and-up {
    text-align: left;
  }
  .front {
    height: 100%;
    img {
      max-height: 420px;
    }
    h1 {
      font-size: ms(4);
    }
  }
}
